#gunicorn.service
[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={{ gunicorn_user }}
Group={{ gunicorn_group }}
WorkingDirectory={{ django_project_dir }}/{{ django_project_name }}
ExecStart={{ django_project_dir }}/env/bin/gunicorn --workers {{ gunicorn_workers }} --bind unix:{{ django_project_name }}.sock {{ django_project_name }}.wsgi:application

[Install]
WantedBy=multi-user.target